h2{
    text-align: center;
    margin-top: 2rem;
}
p, .compare-header h2{
    font-size: 1.3rem ;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 100;
}
.compare-header {
  text-align: center;
  padding: 30px 20px;
}

.compare-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}


.selectors {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
@media (min-width:554px){
  .selectors{
    flex-direction: row;
    align-items: center;
  }
}
.selectors select,
.selectors button {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
#start-compare{
  width: 150px;
}
.comparison {
    padding: 3rem 1.5rem;
    background: #f7f9fc;
}

#compare-title {
    text-align: center;
    margin-bottom: 2rem;
}

.comparison-container {
    max-width: 1000px;
    margin: auto;
}
.comparison-container p{
  text-align: justify;
  margin: 1rem;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background: white;
    margin-bottom: 10px;
}

.row.header {
    background: #1f2a44;
    color: white;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    font-size: 1.2rem;
}

.title {
    font-size: 0.85rem;
    opacity: 0.8;
}

/* wrapper for all charts */
.charts-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  
}

/* each chart tile */

.chart-tile {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  margin: 0 auto;
  max-width: 280px;
  
}


/* title */
.chart-tile h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

/* control chart size */
.chart-tile canvas {
  height: 240px !important;
 
}
