*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    :root {
      --primary-color: #0d47a1; 
      --secondary-color: rgb(0, 0, 0);
      --teritiary-color: #1E2A3A;
      --text-color: white;
      --accent-color: #1976d2;
    }

    body {
      font-family: 'Roboto', sans-serif;
      color: var(--text-color);
    }
    h1{
        margin-bottom: .2rem;
    }
    h1, h2, h3 {
      color: var(--text-color);
      background-color: var(--secondary-color);
      padding: 1.2rem;
      font-family: "Montserrat", sans-serif;

    }
    p, ul, li{
        background-color: var(--teritiary-color);
        padding: 1.2rem;
    }

    .wireframe-container{
        
        width: 300px;
        display: grid;
        border: 1px black dashed;
        margin: 1rem;
    }
    .wireframe-container div{
        background-color: black;
        padding: 1rem;
        margin: 1rem;
    }
    .wireframe-container-large{
        width: 98%;
        border: 1px black dashed;
        margin: 1rem;
    }
    .wireframe-container-large div{
        padding: 1rem;
        margin: 1rem;
        background-color: black;
    }
    .section1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
