

main h1{
    text-align: center;
    margin: 1rem;
}
.view-options{
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.view-options img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#cards{
    padding: 2rem;
}
@media screen and (max-width: 390px){
    #cards{
        padding: 0;
    }
}
.card {
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: 1rem;
}
.card img {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;

}
.card h3 {
    font-size: 1.3rem;
    margin: 10px;
    text-align: center;
}
.card p {
    font-size: 1.1rem;
    margin: 2px;
    overflow-wrap: anywhere;
}
#cards.list {
  overflow-x: auto;
  margin: 2rem 0;
}
tr{
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
td {
  padding: 15px;
  font-size: 1rem;
 
}

