@media (min-width: 726px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
  .card{
    padding: 1rem;
  }

  .card button {
    align-self: start;
  }
  .card img{
    overflow: hidden;
  }
 
  .card img:hover{
    transform: scale(1.2);
  }
}