@media (min-width: 768px) {
    .hero {
        height: 80vh;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }
    .grid-section {
        grid-template-columns: 2fr 1fr 1fr; /* Event card larger */
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1.1rem;
    }
    .event-content img {
        margin-bottom: 10px;
    }
    .company-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
